.new-exercise-container{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #fff0f5;
}

#new-exercise-form{
    background-color: #fff0f5;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    width:90%;
}


#new-exercise-form h2{
    text-decoration: underline;
}

#new-exercise-form .form-field{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width:500px;
    margin:10px 0;
}

#new-exercise-form .form-field.checkbox{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.image-upload-exercise{
    width: 250px;
    margin-left:40px;
}

.create-new-title{
    width: 100%;
    text-align: center;
}

#new-exercise-form .form-text{
    font-size:1.1em;
}


#new-exercise-form #description{
    width: 800px;
}

#new-exercise-form #content{
    width: 800px;
}

.private-message{
    font-size: 0.85em;
    margin-left:15px;
}

#new-exercise-form .add-exercise-button{
    background-color: #0a0ae2;
    color:white;
    border:none;
    padding:7px;
    width: 150px;
    width:200px;
    margin:10px auto;
}

#new-exercise-form .add-exercise-button:hover{
    transform: scale(1.1);
}

#new-exercise-form .added-exercises{
    width: 90%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}


#new-exercise-form .added-exercises-title{
    width:100%;
    text-align: left;
}


.custom-file-upload-new{
    border: none;
  color:white;
  background-color: rgb(28, 4, 110);
  padding: 10px 12px;
  font-size:0.9em;
  margin-left: 40px;
}


.custom-file-upload-new:hover{
   transform: scale(1.1);
}

#new-exercise-form .save-button{
    padding:10px;
    width:200px;
    margin:15px;
    background-color: rgb(50,205,50);
    border:none;
    color:white;
}


#new-exercise-form .save-button:hover{
    transform: scale(1.1);
}

#new-exercise-form .cancel-button{
    padding:10px;
    width:200px;
    margin: 15px;
    background-color: red;
    border:none;
    color:white;
}

#new-exercise-form .cancel-button:hover{
    transform: scale(1.1);
}

.button-container-new{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    margin:20px 0px;
    margin-top:30px;
}

#new-exercise-form .form-error-message{
   margin-top:50px;
   background-color: #ff6347;
   padding:5px;
   border:2px solid #a40000;
   border-radius:5px;
}


.new-picture-container .close-button{
    border:none;
    background-color: #c90216;
    padding:5px;
    color:white;
    margin-top:10px;
  }

  .plan-step-container-main-new{
    display:flex;
    flex-direction: column;
    align-items: center;
    border:3px solid rgb(12, 12, 45);
    border-radius: 5px;
    background-color: #f5d6e0;
    width: 95%;
    justify-content: center;
    margin:15px auto;
  }


  .new-picture-container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin:0 auto;
  }

  .plan-step-container-new{
      display:flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      width:100%;
  }

  .plan-step-container-new .number-container{
    width: 80px;
    border: 3px solid rgb(12, 12, 45);
    border-radius:50%;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    text-align:center;
  }


  .plan-step-container-new .img-container{
    width: 250px;
  }

  .plan-step-image{
      width: 250px;
  }

  .plan-step-container-new .exercise-data-new{
      margin-left:20px;
      width: 400px;
      text-align:left;
  }

  .exercise-data-new .exercise-author{
    margin-left: 15px;
  }

  .exercise-data-new .description-text{
    margin-left: 15px;
 }

 .plan-step-container-new .repetition{
    font-weight: bold;
    border:3px solid blue;
    width:100px;
    text-align:center;
    margin-left: 15px;
 }

 .plan-step-container-main-new .delete-exercise{
     background-color: #f5d6e0;
     color:red;
     font-size:2.5em;
     border:none;
     position:relative;
     right:-415px;
 }


