body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-size:100%;
  background-color: aquamarine;
}
* {
  box-sizing: border-box;
  }
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

#calendarContainer{
  height:600px;
}




/* #loginForm {
  border: 3px solid #d05985;
  border-radius: 5px;
  max-width: 500px;
  margin: auto;
} */


