*{
    box-sizing: border-box;
  }
  
body {
    background:  #add8e6;
}

header .logoImage{
    max-width: 150px;
    max-height: 115px;
}

.headerContainer{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.pageTopContainer{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:100%;
}

.navContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:100%;
}

.navContainer button{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5px;
    border-radius: 70%;
    width: 100px;
    background-color: #ffe4e1;

}

