.react-calendar.small {
    max-width: 300px;
    background: #fadadd;
    border: 1.25px solid #000033;
    font-family:Tahoma, Verdana, sans-serif;
    line-height: 1.125em;
    margin-top:50px;
  }

  .react-calendar.small .dateField{
    height: 5vh;
}

.react-calendar.small .react-calendar__navigation {
    height: 30px;
    margin-bottom: 1em;
   
  }

  .react-calendar.small .react-calendar__navigation button {
    min-width: 35px;
    font-weight: bold;
    font-size:1em;
  }

  .react-calendar.small .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7em;
    border-bottom: 1px solid #000033;
    margin-bottom: 5px;
    text-decoration: underline;
  }