.sideNavContainer{
    display:flex;
    flex-direction:column;
    height: 100%;
    width:350px;
    position: fixed;
    left: 0;
    top:85px;
    background-color: #fffaf0;
    border:3px solid #052d3b;
    border-left:none;
    border-top:2px solid #19647d;
}

.workouts-container{
    margin-left:350px;
}



.workout-navigation{
    display:flex;
    flex-direction:column;
}


.workout-navigation .nav-link{
    text-decoration: none;
    font-weight: bold;
    color:#000033;
    width:348px;
    background-color: #ffe6ee;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #800040; 
}

.workout-navigation .nav-link:hover{
    color:blanchedalmond;
    background-color: #990033;
}

.workout-navigation .nav-link.clicked{
    color:blanchedalmond;
    background-color: #990033;
}

.workout-navigation .nav-link.upper-link{
    margin-top: 25px;
    border-top: 1px solid #800040;
}

.workout-navigation .nav-link.bottom-link{
    border-bottom: 4px solid #80002a;
}

.search-container{
    margin:30px auto;
}

.workout-search-form input[type=text] {
    padding: 2px;
    font-size:1.1em;
    border: none;
    width:250px;
    border:2px solid #000033;
  }

  .workout-search-form .searchIcon{
      background-color: #ff0055;
      color:whitesmoke;
  }

  .workout-search-form .searchIcon:hover{
      opacity:0.8;
      cursor: pointer;
  }

  .workout-search-form .search-icon{
      width:20px;
      font-size:1.1em;
      padding:4px;
  }

  .workout-categorie{
      padding-left:15px;
      padding-bottom: 15px;
      border-top:1px solid #fc5a8d;
  }

  .workout-categorie.last{
    border-bottom:1px solid #fc5a8d;
  }

  .workout-categorie.first{
      border-top: 4px solid #80002a;
  }

  .workout-buttons-container{
      display:flex;
      flex-direction:row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
  }

  .workout-buttons-container .workout-categorie-button{
    margin:5px 10px;
    width: 90px;
    border:2px solid #990033;
    border-radius:4px;
    padding:3px;
    background-color: #ffe6ee;
  }

  .workout-tags-container .search-button{
      width:100px;
      margin-top:20px;
      margin-left:195px;
      padding:10px;
      background-color: #ff0055;
      color:whitesmoke;
      border-radius:3px;
      border:none;
  }

  .workout-tags-container .search-button:hover{
    transform: scale(1.1);
    opacity: 0.9;
  }

  .workout-buttons-container .workout-categorie-button:hover{
    background-color: #990033;
    color:whitesmoke;
    transform: scale(1.1);
  }


  .workout-buttons-container .workout-categorie-button.clicked{
    background-color: #990033;
    color:whitesmoke;
    transform: scale(1.1);
  }

  .plans-container{
      border-bottom:5px solid #000033;
      color:#000033;
      padding-left:15px;
      padding-bottom:10px;
  }

  .plans-container.search-result{
    border-bottom:5px solid #000033;
}

  .plans-container.load-all{
      border:none;
  }

  .create-new.plan{
      padding:10px;
      font-size:1.01em;
      background-color: #000080;
      color:whitesmoke;
      border:none;
      border-radius: 4px;
  }

  .create-new.plan:hover{
      transform: scale(1.1);
      cursor: pointer;
  }

  .plan-container{
      border:2px solid #000033;
      margin:10px;
      padding:3px;
      border-radius: 5px;
      background-color: #fffaf0;
      display:flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      padding:10px;
      max-width: 1500px;
      height: 40vh;
  }

  .workout-navigation .button-clicked{
    color:blanchedalmond;
    background-color: #990033;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    border:none;
    margin-left:0;
    width: 348px;
    font-size:1.2em;
    padding-top:5px;
    padding-bottom:5px;
  }

  .workout-navigation .link-button{
    font-weight: bolder;
    color:#000033;
    background-color: #ffe6ee;
    text-align: center;
    text-transform: uppercase;
    border:none;
    margin-left:0;
    width: 348px;
    font-size:1.2em;
    padding-top:5px;
    padding-bottom:5px;
  }

  .workout-navigation .link-button:hover{
    color:blanchedalmond;
    background-color: #990033;
    cursor: pointer;
  }

  .plans-container .link-title{
    color:#000033;
  }

.sideNavContainer .disable-search{
    position: fixed;
    background: #000000a0;
    width: 350px;
    height: 98px;
    top: 186px;
    left: 0;
    overflow: auto;
    border:none;
}

.sideNavContainer .disable-tags{
    position: fixed;
    background: #000000a0;
    width: 350px;
    height: 475px;
    top: 284px;
    left: 0;
    overflow: auto;
    border:none;
    z-index: 1;
}

.plan-container .tags-container{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 600px;
}

.tags-container .tag{
    font-size: 0.8em;
    width:100px;
    background-color: #fdff00;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    padding-top:0px;
    padding-bottom: 0px;
    border-radius:10px;
    margin:0 10px 15px;
}

.tag-text{
    padding:0;
    margin:5px 0;
}


.date-message{
    background-color: rgb(238, 176, 209);
    width: 700px;;
    position: fixed;
    bottom:0;
    right: 0;
    height:5vh;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index:1;
}

.cancel-date-button{
    margin:3px;
    margin-left:50px;
    padding:5px;
    background-color: rgb(241, 10, 21);
    font-weight: bold;
    border:none;
}

.plan-container .add-button{
    padding: 10px;
    background-color: #000080;
    color:whitesmoke;
    position:relative;
    /* top:-50px; */
}

.plan-container .add-button:hover{
    transform: scale(1.1);
}


.list-picture{
    width: 200px;
}

.plan-container .image-container{
    margin-left:10px;
    margin-right:20px;
}


.plan-container .plan-title{
    font-size: 1.3em;
    font-weight: bold;
}


.plan-container .plan-title:link{
    color:#000033 ;
}

.plan-container .plan-title:visited{
    color:#0a0a9f ;
}

.plan-container .plan-author{
    font-weight: 600;
}

.plan-container .exercise-title{
    font-size: 1.3em;
    font-weight: bold;
}


.plan-container .exercise-title:link{
    color:#000033 ;
}

.plan-container .exercise-title:visited{
    color:#0a0a9f ;
}

.plan-container .exercise-author{
    font-weight: 600;
}

.plan-container .exercise-cal{
    font-weight: 600;
}

.plan-container .exercise-description{
    font-size: 0.9em;
    width: 600px;
}


.plan-container .plan-calories{
    font-weight: 600;
}

.plan-container .plan-description{
    font-size: 0.9em;
    width: 600px;
}

.private-container{
    background-color: #f78fa7;
    text-align: center;
    font-size: 0.9em;
    width:100px;
}

.add-to-calendar{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 200px;
    margin-bottom: 50px;
}

.plan-container .first-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    width: 800px;
}

.plans-calendar-container{
    position:relative;
    right: 15px;
    top:-20px;
}

.plans-calendar-container .calendar-description{
    position:relative;
    right: 100px;
    top:100px;
}


.plans-calendar-container .close-calendar{
    position:relative;
    right:-220px;
    bottom:-55px;
    font-size:1.3em;
    border:none;
    background-color: #ebbebe;
    border-radius: 50%;
    color:rgb(83, 11, 11);
}

.plans-calendar-container .close-calendar:hover{
    transform: scale(1.1);
}

.add-button-to-plan{
    padding: 10px;
    background-color: #000080;
    color:whitesmoke;
    /* position:relative;
    top:-50px;
    width: 200px; */
    width:200px;
}

/* .plan-container .add-to-plan-form{
    position:relative;
    right: 100px;
    width:200px;
} */

.add-to-plan-form .exercise-duration{
    width: 50px;
    margin:0 10px;
}


.exercise-measure{
    background-color: pink;
}

.add-to-plan-form .form-description{
    width:300px;
}

.add-to-plan-form .add-exercise{
    padding:5px;
    width:70px;
    margin:15px;
    background-color: rgb(50,205,50);
    border:none;
    color:white;
}

.add-to-plan-form .cancel-adding{
    padding:5px;
    width:70px;
    margin: 15px;
    background-color: red;
    border:none;
    color:white;
}

.add-to-plan-form .add-exercise:hover{
    transform: scale(1.1);
}


.add-to-plan-form .cancel-adding:hover{
    transform: scale(1.1);
}

.plan-container .additional-info{
    width:100%;
    height:100%;
}

.exercise-calendar-container{
    position:relative;
    right: -50px;
    top:-100px;
}

.exercise-calendar-container .calendar-description{
    position:relative;
    right: 100px;
    top:100px;
}


.exercise-calendar-container .close-calendar{
    position:relative;
    right:-220px;
    bottom:-55px;
    font-size:1.3em;
    border:none;
    background-color: #ebbebe;
    border-radius: 50%;
    color:rgb(83, 11, 11);
}

.exercise-calendar-container .close-calendar:hover{
    transform: scale(1.1);
}








